<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1daa700264.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><h2>The Planets</h2>
    <div class="right">
        <p id="mercurylink">mercury</p>
        <p id="venuslink">venus</p>
        <p id="earthlink">earth</p>
        <p id="marslink">mars</p>
        <p id="jupiterlink">jupiter</p>
        <p id="saturnlink">saturn</p>
        <p id="uranuslink">uranus</p>
        <p id="neptunelink">neptune</p>
    </div></header>
    <hr>
